parameters:
  level: 8
  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0
  paths:
    - src
    - tests
  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  exceptions:
    implicitThrows: false
    checkedExceptionRegexes:
      - '#Exception#'
      - '#Throwable#'
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
  ignoreErrors:
    - '~Call to an undefined method Laminas\\ModuleManager\\ModuleManagerInterface::getEvent~'
    - '~MongoDB\\Client~'
    - '~Call to deprecated method getType\(\) of class Monolog\\Formatter\\ElasticaFormatter~'
    - '~Parameter #1 \$stream of class Monolog\\Handler\\StreamHandler constructor expects~'
    - '~overridden property~'
    - '~Elastic\\Elasticsearch\\Client(Builder)?~'
    - '~Elastic\\\\Elasticsearch\\\\Client~'
    - '~CMDISP\\MonologMicrosoftTeams\\TeamsLogHandler~'
    - '~PhpAmqpLib\\Channel\\AMQPChannel~'
    - '~(Swift_Mailer|Swift_Message)~'
    - '~Rollbar\\(Config|RollbarLogger)~'
    - '~MongoDB\\Collection~'
    - '~Parameter #3 \$options of callable Mimmi20\\MonologFactory\\Processor\\UidProcessorFactory expects array{length\?: int<1, 32>}\|null, array{length: (0|33)} given~'
    - '~PHPDoc tag @param for parameter .* contains unresolvable type~'
#    - '~is not subtype of Throwable~'
    - '~Fetching class constant class of deprecated class~'
    - '~Monolog\\(Formatter|Handler)\\Flowdock(Formatter|Handler)~'
